{% extends 'scheduler/detail.html' %}

{% block title %} Profile {% endblock %}

{% block main %}
	{% for message in messages %}
		<p class="alert alert-success">{{ message }}</p>
	{% endfor %}
	
	<span class="tag font-weight-bold">Username</span><br/>
	<span class="value">{{ user.username }}</span><br/><br/>


	<span class="tag font-weight-bold">Email</span><br/>
	<span class="value">{{ user.email }}</span><br/><br/>


	<span class="tag font-weight-bold">Name</span><br/>
	<span class="value">{{ user.first_name }} {{user.last_name }}</span><br/><br/>


	<span class="tag font-weight-bold">Location</span><br/>
	<span class="value">{{ user.profile.location }}</span><br/><br/>


	<span class="tag font-weight-bold">City</span><br/>
	<span class="value">{{ user.profile.city }}</span><br/><br/>

	<a href="{% url 'profile_edit_view' %}">
		<button class="btn">
			<span class="material-icons mx-2">edit</span>
			Edit
		</button>
	</a>
		
	<button class="btn bg-danger">
		<span class="material-icons mx-2">delete</span>
		Delete
	</button>
{% endblock %}